<mat-card>
  <h2>Create Invoice</h2>
  <form class="form-container"
        [formGroup]="invoiceForm!"
        novalidate
        (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             placeholder="Item"
             formControlName="item">
      <mat-error *ngIf="invoiceForm!.controls['item'].touched && invoiceForm!.controls['item'].invalid">item is
        required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             [matDatepicker]="date"
             placeholder="Choose a date"
             formControlName="date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix
                             [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
      <mat-error *ngIf="invoiceForm!.controls['date'].touched && invoiceForm!.controls['date'].invalid">date is
        required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             [matDatepicker]="due"
             placeholder="Choose a due date"
             formControlName="due">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix
                             [for]="due"></mat-datepicker-toggle>
      <mat-datepicker #due></mat-datepicker>
      <mat-error *ngIf="invoiceForm!.controls['due'].touched && invoiceForm!.controls['due'].invalid">due is
        required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             placeholder="Qty"
             type="number"
             formControlName="qty">
      <mat-error *ngIf="invoiceForm!.controls['qty'].touched && invoiceForm!.controls['qty'].invalid">qty is
        required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             placeholder="Tax"
             type="number"
             formControlName="tax">
    </mat-form-field>

    <mat-form-field appearance="fill"
                    color="accent">
      <input matInput
             placeholder="Rate"
             type="number"
             formControlName="rate">
    </mat-form-field>

    <div>
      <button mat-raised-button
              type="submit"
              color="accent"
              [disabled]="!invoiceForm?.valid">Save</button>
      <button mat-raised-button
              type="reset"
              color="accent">Cancel</button>
    </div>
  </form>

</mat-card>