.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.mat-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button[mat-raised-button] {
  margin-right: 15px;
}
