<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav mat-elevation-z10"
               #sidenav="matSidenav">
    <mat-toolbar color="accent">Dashboard
    </mat-toolbar>

    <mat-nav-list role="list">
      <mat-list-item *ngFor="let link of links"
                     [routerLink]="link.url">
        {{ link.name }}
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-sidenav-content">
      <app-toolbar (toggleSidenav)="sidenav.toggle()"
                   [showMenuIcon]="!sidenav.opened"></app-toolbar>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
