<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div *ngIf="isLoading"
           class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>

      <mat-card-title>
        {{title}}
      </mat-card-title>
      <mat-card-content>
        <form class="form-container"
              [formGroup]="authForm!"
              novalidate
              (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                   formControlName="email">
            <mat-error *ngIf="authForm!.controls['email'].touched && authForm!.controls['email'].invalid">Email is
              required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="authForm!.controls['password'].touched && authForm!.controls['password'].invalid">Password
              is
              required</mat-error>
          </mat-form-field>

          <div>
            <button mat-raised-button
                    type="submit"
                    [disabled]="!authForm?.valid">{{title}}</button>
          </div>
        </form>
      </mat-card-content>

      <div *ngIf="isLogin"
           class="alternative">
        <p>Don't have an account?</p>
        <button mat-raised-button
                [routerLink]="['/signup']">Sign Up</button>
      </div>

      <div *ngIf="!isLogin"
           class="alternative">
        <p>Have an account?</p>
        <button mat-raised-button
                [routerLink]="['/login']">Login</button>
      </div>
    </mat-card>
  </div>
</div>