<div class="limiter">
  <div class="container-login">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <form class="form-container"
              [formGroup]="authForm!"
              novalidate
              (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                   formControlName="email">
            <mat-error *ngIf="authForm!.controls['email'].touched && authForm!.controls['email'].invalid">Email is
              required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="authForm!.controls['password'].touched && authForm!.controls['password'].invalid">Password
              is
              required</mat-error>
          </mat-form-field>

          <div>
            <button mat-raised-button
                    type="submit"
                    [disabled]="!authForm?.valid">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>