<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div *ngIf="isLoading"
           class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>

      <mat-card-title>
        {{title}}
      </mat-card-title>
      <mat-card-content>
        <form class="form-container"
              [formGroup]="authForm!"
              novalidate
              (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                   formControlName="email">
            <mat-error *ngIf="authForm!.controls['email'].touched && authForm!.controls['email'].invalid">Email is
              required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="authForm!.controls['password'].touched && authForm!.controls['password'].invalid">Password
              is
              required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="!isLogin"
                          appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput
                   type="text"
                   formControlName="name">
          </mat-form-field>

          <div>
            <button mat-raised-button
                    class="btn-block"
                    color="primary"
                    type="submit"
                    [disabled]="!authForm?.valid">{{title}}</button>

            <a class="btn btn-block forgot-password"
               (click)="forgotPasswordHandler()">Forgot Password</a>

            <a class="btn btn-social btn-block btn-google"
               href="/api/auth/google"
               mat-button>
              <i class="fa fa-google"></i>
              Login with Google
            </a>
            <a class="btn btn-social btn-block btn-github"
               href="/api/auth/github"
               mat-button>
              <i class="fa fa-github"></i>
              Login with GitHub
            </a>
          </div>
        </form>
      </mat-card-content>

      <div *ngIf="isLogin"
           class="alternative">
        <p>Don't have an account?</p>
        <button mat-raised-button
                class="btn-block"
                [routerLink]="['/signup']">Sign Up</button>
      </div>

      <div *ngIf="!isLogin"
           class="alternative">
        <p>Have an account?</p>
        <button mat-raised-button
                class="btn-block"
                [routerLink]="['/login']">Login</button>
      </div>
    </mat-card>
  </div>
</div>